{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
 <h1> a little life</h1>
 <P>  what jude and i have is something, but it's not friendship <br>
      i sometimes feel he's a magician, and his sole trick is concealment, and he's so good at it. <br>
      but how can you help someone who won't be helped, while knowing that if you don't try, you're not being a good friend? <br><br>
      we are two people who remain together, day after day,  <br> 
      bound not by sex or attraction or law, not by money or childen or property, <br>
      but by the agreement to witness each other's slow drip of miseries, our occassional triumphs. <br> 
      To be present at his dismal moments, and knowing i can be dismal around him in return. <em> talk to me. </em> I want to tell him. <br>
      <em>tell me things?</em> how you lived before i met you; anything. <br> but talk to me. i can't figure it out on my own. 
</P>
{% endblock %}